.checkout__product {
    display: flex;
    margin: 20px 5%;
}

.checkout__image {
    height: 200px;
    width: 200px;
}


.checkout__image img {
    height: 100%;
    width: 100%;
}

.checkout__description {
    margin-left: 5%;
}

.checkout__title {
    font-weight: 500;
}

.checkout__price {
    display: flex;
    align-items: center;
}

.checkout__rating {
    display: flex;
    margin-bottom: 5px;
}

.checkout__removeBtn {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734, #9c7e31, #846a29;
    margin-top: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
    
}